.header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    height: 2%;
  }
  
  .header h1 {
    margin: 0;
    font-size: 1rem;
    color: #333;
  }
  